<div *ngFor="let parfum of parfums">
    <div class="container">
    <div class="card" style="width: 18rem;">
      <img src={{parfum.img}} class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{parfum.titre}} </h5>
        <p class="card-text">{{parfum.description}}</p>
        <button class="btn btn-primary"  type="button" (click)="onClickButton()">+</button>
        <a href="#" class="btn btn-primary posiBut ">infos</a>
           <div *ngIf="displayText" >
              <p>{{text}}</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Doloribus nisi unde ratione quis, laborum aliquam.
                Perferendis ullam magni nam libero dolorum possimus illo harum nemo,
                recusandae quas, provident ratione molestiae!</p>
           </div>
      </div>
    </div>
    </div>
    </div>
    
    