<div class="container py-5">
    <h1 class="display-5 text-center my-5">Connexion</h1>
    <div class="row">
        <div class="col-12 col-md-10 col-lg-8 col-xl-6 mx-auto">
            <div class="bg-white shadow rounded p-5">
                <h2 class="fs-3 text-center fw-light mb-4">Connectez vous ici !</h2>
                <form [formGroup]="signinForm" (ngSubmit)="onSubmitSigninForm()">
                    <div class="form-group mb-3">
                        <label for="signinEmail">Identifiant</label>
                        <input type="email" class="form-control"  id="signinpEmail"
                            formControlName="email">
                    </div>

                    <div class="form-group mb-3">
                        <label for="sisigninPassword">Mot de passe</label>
                        <input type="password" class="form-control"  id="sisigninPassword"
                            formControlName="password">
                    </div>
                    <div class="d-flex flex-column mb-3">
                        <button class="btn btn-primary" type="submit" [disabled]=" signinForm.invalid">Connexion</button>
                        <a class="mx-auto" [routerLink]="['/auth', 'forgot-password']">Mot de passe oublié</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
